body{
    margin:0.5em;
}
section{
    margin-bottom:300px;
}
article{
    
    margin: 0.5em;
    width: 34%;
    float: right;
    position: static;

}
article p{
    background-color: black;
    color: white;
    border-color: black;
    border:solid;
    width: 275px;
    float: right;
    margin-bottom:0.5em; 
    margin-right: 0.5px;
}
.contenido{
    color: white;
}
hr{
    border-color: white;
    height: 1px;
}
#carousel{
    margin: 0.5px;
    width: 40%;
    height: 40%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear alternate;

}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 90%;
    height: 78%;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2){ transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3){ transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4){ transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5){ transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6){ transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7){ transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8){ transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9){ transform: rotateY(320deg) translateZ(288px);}
#carousel figure:nth-child(10){ transform: rotateY(360deg) translateZ(288px);}

#carousel img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all 0.5s ease;
    width: 90%;
}
#carousel img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}
@keyframes rotation{
    from{
        transform: rotateY(0deg);
         }
    to{
        transform: rotateY(360deg);
    }
}
.contenido{
    width: 55%;
    text-align: justify;
    position: static;
}